%h1 Quotes Today

= render 'quotes/quotes', quotes: @quotes

%h1 Client Orders Today

= render 'orders/orders', orders: @orders

%h1 Supplier Purchases Today

= render 'supplier_purchases/supplier_purchases', supplier_purchases: @supplier_purchases
