- if offer.order
  .alert
    %strong Client PO#
    = link_to offer.order_reference, offer.order

- if offer.supplier_purchase
  .alert.alert-info
    %strong Supplier PO#
    = link_to offer.supplier_purchase.reference, offer.supplier_purchase

- if offer.delivery_receipt_reference
  .alert.alert-success
    %strong DR#
    = offer.delivery_receipt_reference

- if offer.sales_invoice_reference
  .alert.alert-success
    %strong SI#
    = offer.sales_invoice_reference
