.row.payment-line.fields.alternating-payment-fields
  .col-sm-4
    = f.label :reference, "Payment Reference", class: 'reference-cell'
  .col-sm-4
    = f.text_field :reference, class: 'form-control'
  .col-sm-1= link_to_remove_fields "Payment", f


