
- content_for :head do
  = javascript_include_tag '//www.google.com/jsapi','chartkick'

%h1 Quotes

.row
  .col-sm-12
    %h3 This year
    = line_chart [ {name: "LAST YEAR", data: @prev_quotes_count}, {name: "THIS YEAR", data: @quotes_count} ]

%h1 Orders

.row
  .col-sm-12
    = line_chart [ {name: "LAST YEAR", data: @prev_orders_count}, {name: "THIS YEAR", data: @orders_count} ]


