- content_for :head do
  = javascript_include_tag '//www.google.com/jsapi','chartkick'

%h1 Total Profit per month

.row
  .col-sm-12
    %h2 Sales
    = line_chart @sales

.row
  .col-sm-12
    %h2 Services
    = line_chart @services

