%h1 Price Trend

%table.table
  %tr
    %th Vendor Item Code
    %th Buying Price
    %th Selling Price
  - @offer_with_item_codes.each do |offer|
    %tr
      %td= link_to offer.vendor_item_code, price_movement_path(offer.vendor_item_code)
      %td= offer.display_buying_price
      %td= offer.display_selling_price


