.row

  .col-sm-3
    = render 'awaiting_client_po', quotes: @need_supplier_order

  .col-sm-3
    = render 'awaiting_schedule', quotes: @for_scheduling

  .col-sm-3
    = render 'under_construction', quotes: @manufacturing

  .col-sm-3
    = render 'awaiting_delivery', quotes: @for_delivery
