.supplier-purchases-header
  %h1 Supplier Orders


.pull-right=will_paginate(@supplier_purchases)
= render 'supplier_purchases/supplier_purchases', supplier_purchases: @supplier_purchases
-# = link_to t('.new', :default => t("helpers.links.new")), new_order_path, :class => 'btn btn-primary'
.pull-right=will_paginate(@supplier_purchases)
