.page-header
  %h1= client.name
  - if client.abbrev
    %h3= client.abbrev

%p
  %strong Emails :
  %br
  = client.emails

%p
  %strong Contact Numbers :
  %br
  = client.contact_numbers

%p
  %strong Address :
  %br
  =simple_format client.address
