= form_tag({}, {class: 'form-inline', method: :get}) do
  = label_tag 'client_id', 'Show orders from'
  = select_tag 'client_id', options_from_collection_for_select(Client.all, 'id', 'name', params[:client_id]), prompt: 'All'
  = submit_tag "filter", class: 'btn btn-default'
