.fields
  .row
    .col-sm-2
      - unless f.object.persisted?
        = f.label :document
    .col-sm-10
      - if f.object.persisted?
        = f.object[:document]
      - else
        = f.file_field :document, :class => 'field_field'
      = link_to_remove_fields "remove", f
