.fields
  .row-fluid
    .span2
      - unless f.object.persisted?
        = f.label :document
    .span10
      - if f.object.persisted?
        = f.object[:document]
      - else
        = f.file_field :document, :class => 'field_field'
      = link_to_remove_fields "remove", f
