.client-order-header
  %h1
    Client Orders

.row
  .col-sm-12
    = render 'clients/form_with_select_to_filter_clients'

= render 'orders/tabs'


.pull-right=will_paginate(@orders)
= render 'orders/orders', orders: @orders
-# = link_to t('.new', :default => t("helpers.links.new")), new_order_path, :class => 'btn btn-primary'
.pull-right=will_paginate(@orders)
