.quote-header
  %h1
    = @client.name
  %h2
    Item Code :
    = @item_code

%table.table.table-striped.quote-details
  %thead
    %tr
      %th.span3 Requested Specs
      %th.span3 Offered Specs
      %th.span1 Supplier
      %th.span2 Delivery/Terms/Warranty
      %th.span1 Buying Price
      %th.span1 Selling Price
      %th.span1 Order Reference
  %tbody
    = render 'quotes/requests', requests: @requests
