%h1 Client Groups


%table.table.table-striped
  %thead
    %th Parent Company Name
    %th Quotes
    %th Orders
  %tbody
    - @parent_companies.each do |parent_company|
      %tr
        %td= link_to parent_company.name, parent_company
        %td= parent_company.quotes.count
        %td= parent_company.orders.count

= link_to "New Parent Company", new_parent_company_path, :class => 'btn btn-primary'
