.page-header
  %h1= @parent_company.name

%h3 Clients under this Company

%ul
  - @parent_company.clients.each do |client|
    - if client.abbrev
      %li= client.abbrev
    - else
      %li= client.name

%h4 RFQs
- if @parent_company.quotes.present?
  = render :partial => 'quotes/quotes', :locals => {:quotes => @parent_company.quotes.decorate, :model_class => Quote}

