- if !offer.summary.blank? || !offer.vendor_item.nil?
  %p.actual-offer
    Actual :
    = offer.summary
    - if offer.vendor_item.present?
      .row
        .col-sm-12
          = link_to "View this item", price_movement_path(offer.vendor_item)
