- if date = offer.supplier_order_delivered_at
  date = date.to_date.to_s
- else
  - if offer.supplier_order
    %p
      = link_to_modal "Set Delivery", offer.supplier_order, {class: 'btn btn-small btn-success', modal_id: 'delivery'}
      = render 'supplier_orders/modals/mark_as_delivered', modal_id: dom_id(offer.supplier_order) + 'delivery', supplier_order: offer.supplier_order.decorate
  - else
    - if offer.client_ordered?
      %span.muted Please Edit
    - else
      No PO

