- if offer.supplier_order_estimated_delivery_date.present? and offer.supplier_order_delivery_date.nil?
  .alert.alert-info
    %b Estimated Delivery
    = offer.supplier_order_estimated_delivery_date

- elsif offer.supplier_order_delivery_date.present?

  .alert.alert-success
    %b Delivered At
    = offer.supplier_order_delivery_date

- else

  = offer.delivered_at

