- if offer.service?
  N/A

- else
  - if date = offer.supplier_order_estimated_delivered_at
    date = date.to_date.to_s
  - else
    - if offer.supplier_order
      %p
        = link_to_modal "Set Estimated Delivery", offer.supplier_order, {class: 'btn btn-small btn-success', modal_id: 'eta'}
        = render 'supplier_orders/modals/set_estimated_delivery_date', modal_id: dom_id(offer.supplier_order) + 'eta', supplier_order: offer.supplier_order.decorate
    - else
      - if offer.client_ordered?
        %span.muted Please Edit
      - else
        No PO

