@import 'theme.css.scss';

.pos-header{
  display: block;
  margin: -20px 0 5px 0;

  margin-left: -20px !important;
  margin-right: -20px !important;

  padding-left: 20px !important;
  padding-right: 20px !important;
  padding-top: 3px;
  padding-bottom: 3px;
}

.dev-environment-alert-header{
  @extend .pos-header;
  position: relative;
  margin-bottom: 20px;
  background-color: red;
  color: #fff;
}


.print-header-label{
  @extend .span12 !optional;
  border: 2px solid black;
  text-align: center;
}

.alert-container{
  @extend .row !optional;
  margin-top: -20px;
  margin-left: -20px;
  margin-right: -20px;
}

.quote-header{
  @extend .pos-header;
  @extend .theme-quote
}

.client-order-header {
  @extend .pos-header;
  @extend .theme-order;
}

.supplier-purchases-header{
  @extend .pos-header;
  @extend .theme-supplier-order;
}
