.pos-header{
  display: block;
  margin: -20px 0 5px 0;

  margin-left: -20px !important;
  margin-right: -20px !important;

  padding-left: 20px !important;
  padding-right: 20px !important;
  padding-top: 3px;
  padding-bottom: 3px;
}

.quote-header{
  @extend .pos-header;
  background-color: #ff7373;
  color: #fff;
}

.alert-container{
  @extend .row;
  margin-top: -20px;
}

.client-order-header {
  @extend .pos-header;
  background-color: #68ca8f;
  color: #fff;
}
