.pos-header{
  display: block;
  margin: -20px 0 5px 0;

  margin-left: -20px !important;
  margin-right: -20px !important;

  padding-left: 20px !important;
  padding-right: 20px !important;
  padding-top: 3px;
  padding-bottom: 3px;
}

.dev-environment-alert-header{
  @extend .pos-header;
  margin-bottom: 20px;
  background-color: red;
  color: #fff;
}

.quote-header{
  @extend .pos-header;
  background-color: #ff7373;
  color: #fff;
}

.print-header-label{
  @extend .span12;
  border: 2px solid black;
  text-align: center;
}

.supplier-purchases-header{
  @extend .pos-header;
  background-color: #34495e;
  color: #fff;
}

.alert-container{
  @extend .row;
  margin-top: -20px;
  margin-left: -20px;
  margin-right: -20px;
}

.client-order-header {
  @extend .pos-header;
  background-color: #68ca8f;
  color: #fff;
}
