// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


table.orders-table{
  th.reference,
  th.order-date,
  th.client-po-date,
  th.supplier-po-reference,
  th.supplier-po-date,
  th.client-name{
    width: 100px;
  }

  th.estimated-ex-works,
  th.estimated-delivery,
  th.delivered-at{
    width: 80px;
  }

  th.quantity{
    width: 30px;
  }
}
