.print-header-text p{
  line-height: 9px;
}

.item-line{
  border-top: 1px solid black !important;
  padding-top: 1px solid black !important;
  font-weight: bold;
}

tr.last-offer td {
  border-bottom: 1px solid black !important;
}

p.compact{
  line-height: 12px;
}

.table-compact {

  th, td {
    padding: 0px;
  }

  p { margin-bottom: 0px}
}

table.table.table-bordered.table-compact {
  th, td {
    // border: 1px solid black !important;
    line-height: 14px;
    padding: 0px 5px 0px 5px;
  }
  
  p {
    line-height: 14px;
    margin-bottom: 0px;
  }
} 

.print-header-logo{
  padding: 0px 10px 0px 5px
}

.print-header-text{
  padding: 5px 0 0 0;
}
