// Place all the styles related to the Quotes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.borderless-left{
  border-left: none !important
}

.borderless-top{
  border-top: none !important
}

tr.alternating-offer-fields{
  &:nth-child(odd){
  background-color: #EEE;
  }

  td{
    border-top: 2px solid #999;
    border-bottom: 2px solid #999;
  }
}

table.quotes-table{
  th.ref,
  th.client-name,
  th.supplier-name,
  th.request-date,
  th.actions,
  th.po-reference{
    width: 100px;
  }

  th.quantity,
  th.status{
    width:80px;
  }

  th.requested-item{
    min-width: 30%;
  }
}

.internal-note{
  position: fixed;

  .internal-note-content{
    margin-right: 30px;
  }

  .alert-internal-note{
    background-color: rgba(217, 237, 247, .7);
    color: #3a87ad;
  }
}

.offer-internal-note-count{
  color: red;
}

.request-quantity{
  font-weight:bold;
  color: #b94a48;
}

a.client-item-code{
  color: #2badad;
}

