// Place all the styles related to the Quotes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.borderless-left{
  border-left: none !important
}

.borderless-top{
  border-top: none !important
}

tr.alternating-offer-fields{
  &:nth-child(odd){
  background-color: #EEE;
  }

  td{
    border-top: 2px solid #999;
    border-bottom: 2px solid #999;
  }
}

.price-column{
  width: 200px;
}


.internal-note{
  position: fixed;

  .internal-note-content{
    margin-right: 30px;
  }

  .alert-internal-note{
    background-color: rgba(217, 237, 247, .7);
    color: #3a87ad;
  }
}
