// Place all the styles related to the Quotes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.borderless-left{
  border-left: none !important
}

.borderless-top{
  border-top: none !important
}

tr.alternating-offer-fields{
  &:nth-child(odd){
  background-color: #EEE;
  }

  .space{
    background-color: #FFF !important;
    border: none !important;
  }

}
