select.date-select{
  width: auto;
  border: 1px solid #cccccc;
  background-color: #ffffff;
}

select.compact{
  width: auto;
}

table{
  font-family: 'Tahoma';

  a.btn{
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif' ;
  }
}

td.empty{
  background-color: #FFF !important;
  border: none !important;
}

.message {
  display: inline !important;
  background-color: red;
  border-bottom-right-radius: 5px 5px;
  border-top-right-radius: 5px 5px;
  padding: 2px 5px;
  color: white;
}

div.field_with_errors div.ui-effects-wrapper {
  display: inline-block !important;
}

tr.multi-content{
  border-top: 3px solid #939393;
  border-bottom: 3px solid #939393;
}

tr.offer-controls{
  border-bottom: 2px solid black;
}

.bold{
  font-weight: bold;
}

label.offer-cell{
  display: table-cell;
}
