@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700);

select.date-select{
  width: auto;
  border: 1px solid #cccccc;
  background-color: #ffffff;
}

select.compact{
  width: auto;
}

.bold{
  font-weight: bold;
}

label.offer-cell{
  display: table-cell;
}

.actions{
  padding: 5px 0 5px 0;
  @extend .pull-left;
}
