@import 'theme.scss';

li#quotes-nav a{
  color: $quote-color
  // @extend .theme-quote
}

li#order-nav a{
  color: $order-color
  // @extend .theme-order
}

li#supplier-order-nav a{
  color: $supplier-order-alt-color
  // @extend .theme-supplier-order
}

li#invoice-nav a{
  color: $invoice-alt-color
  // @extend .theme-invoice
}

li#payment-nav a{
  color: $payment-color
  // @extend .theme-payment
}

li#delivery-nav a{
  color: $delivery-color
  // @extend .theme-delivery
}

#nav-search{
  width: 285px;
}
