.theme-quote {
  background-color: #3498DB;
  color: #fff;
}


.theme-order {
  background-color: #68ca8f;
  color: #fff;
}

.theme-supplier-order {
  background-color: #34495e;
  color: #fff;
}

.theme-invoice {
  background-color: #553982;
  color: #fff;
}

.theme-payment {
  background-color: #F37934;
  color: #fff;
}

.theme-delivery {
  background-color: #f1c40f;
  color: #fff;
}

.theme-service{
  background-color: #825a2c;
  color: #fff;
}
