.theme-quote {
  background-color: #3498DB;
  color: #fff;
}


.theme-order {
  background-color: #68ca8f;
  color: #fff;
}

.theme-supplier-order {
  background-color: #34495e;
  color: #fff;
}

.theme-invoice {
  background-color: #553982;
  color: #fff;
}

.theme-payment{
  background-color: #F37934;
  color: #fff;
}
