$quote-color : #3498DB;
$order-color : #2badad;
$supplier-order-color: #34495e;
$invoice-color: #553982;
$payment-color: #F37934;
$delivery-color: #f1c40f;
$service-color: #825a2c;

.theme-quote {
  background-color: $quote-color;
  color: #fff;
}


.theme-order {
  background-color: $order-color;
  color: #fff;
}

.theme-supplier-order {
  background-color: $supplier-order-color;
  color: #fff;
}

.theme-invoice {
  background-color: $invoice-color;
  color: #fff;
}

.theme-payment {
  background-color: $payment-color;
  color: #fff;
}

.theme-delivery {
  background-color: $delivery-color;
  color: #fff;
}

.theme-service{
  border-color: #825a2c;
  color: #825a2c;
}
